.v-select__selections {
    .v-chip.v-chip--select-multi.theme--light {
        background: #1ebea5;
        color: #ffffff;
    }
}
.v-list__tile__content {
    .theme--light.v-chip.v-chip{
        background: #1ebea5;
        color: #ffffff;
        display: inline-flex;
    }
}
